*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.course-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 5px;
  width: 400px;
  padding: 50px;
}
.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 50px;
 background: linear-gradient(135deg, rgb(255,0,0), rgb(0,255,0), rgb(0,0,255));
  background-size: 600% 600%;
  animation: gradientShift 15s ease infinite;

}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
h2 {
  margin-bottom: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
