.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 50px;
 background: linear-gradient(135deg, rgb(255,0,0), rgb(0,255,0), rgb(0,0,255));
  background-size: 600% 600%;
  animation: gradientShift 15s ease infinite;

}
